<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de libro</title>
</head>
<body>
    <form action="../php/procesar_registro_libro.php" method="post">
        <label>Nombre del libro: </label>
        <input type="text" name="nombre_libro" maxlength="150" required>
        <br>
        <label>ID del Autor: </label>
        <input type="number" name="autor_libro">
        <br>
        <button>Registrar</button>
    </form>
</body>
</html>